package.json
C:\Users\Prakriti\SIT725-2025-T2\week 2\package.json
C:\Users\Prakriti\SIT725-2025-T2\week 2\package-lock.json
C:\Users\Prakriti\SIT725-2025-T2\week3\node_modules
C:\Users\Prakriti\SIT725-2025-T2\week 4\package-lock.json
C:\Users\Prakriti\SIT725-2025-T2\week 4\node_modulesnode 